* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 100% "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  padding: 2rem;
}

.header {
  height: 80vh;
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(165, 42, 42, 0.4))), url(../img/hero.jpg);
  background-image: linear-gradient(to left bottom, rgba(255, 255, 255, 0.4), rgba(165, 42, 42, 0.4)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70vh, 0 100%, 0 0);
          clip-path: polygon(0% 0%, 100% 0, 100% 70vh, 0 100%, 0 0);
  /*Small logo on the top left of the page*/
  /* Text in the center of the header */
}

.header .logo-box {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.header .logo-box .logo {
  height: 2rem;
}

.header .text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .text-box .heading-primary {
  color: rgba(248, 245, 245, 0.8);
  text-transform: uppercase;
}

.header .text-box .heading-primary-main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2rem;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
}

.header .text-box .heading-primary-sub {
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1.1rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.header .text-box .btn:link,
.header .text-box .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
  display: inline-block;
}

.header .text-box .btn-white {
  background-color: #fff;
  color: #777;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/*# sourceMappingURL=style.css.map */