$font-stack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  line-height: 1.5;
  padding: 2rem;
}

.header {
  height: 80vh;
  background-image: linear-gradient(
      to left bottom,
      rgba($color: $light-green, $alpha: 0.4),
      rgba($color: $dark-green, $alpha: 0.6)
    ),
    url(../img/hero.jpg);
  background-size: cover; //wherever the with, will always try to fix inside the box.
  background-position: top;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0, 100% 70vh, 0 100%, 0 0);

  /*Small logo on the top left of the page*/
  .logo-box {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;

    .logo {
      height: 2rem;
    }
  }
  /* Text in the center of the header */
  .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .heading-primary {
      color: rgba(248, 245, 245, 0.8);
      text-transform: uppercase;
      margin-bottom: 4rem;
      backface-visibility: hidden;
    }
    .heading-primary-main {
      display: block;
      font-size: 4rem;
      font-weight: 400;
      letter-spacing: 2rem;
      animation: moveInLeft 1s ease-out;
    }
    .heading-primary-sub {
      display: block;
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 1.1rem;
      animation: moveInRight 1s ease-out;
    }
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    80% {
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
}
/* unvisited link */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.3);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.2);
}
.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.3);
}
